In [10]:
# Install the Cassandra python driver
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 64.8 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [11]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [12]:
# This secure connect bundle is autogenerated when you download your SCB,
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-my-work.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("my_work-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for d957ee36-3fd2-4a2d-b365-858e15a2ef16-eu-west-1.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for d957ee36-3fd2-4a2d-b365-858e15a2ef16-eu-west-1.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for d957ee36-3fd2-4a2d-b365-858e15a2ef16-eu-west-1.db.astra.datastax.com:29042:0750e59f-441b-37bb-b0a7-e097c5d725f7. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

In [13]:
session.set_keyspace('example')  # Replace 'your_keyspace' with the correct name
print(f"Connected to keyspace: {session.keyspace}")

Connected to keyspace: example

In [14]:
rows = session.execute("SELECT table_name FROM system_schema.tables WHERE keyspace_name = 'example'")
print("Existing tables:")
for row in rows:
    print(row.table_name)

Existing tables:

In [15]:
# Get a list of all tables in the keyspace
rows = session.execute("SELECT table_name FROM system_schema.tables WHERE keyspace_name = 'example'")

# Drop each table
for row in rows:
    table_name = row.table_name
    try:
        session.execute(f"DROP TABLE IF EXISTS {table_name};")
        print(f"Table {table_name} dropped successfully.")
    except Exception as e:
        print(f"Error dropping table {table_name}: {e}")

In [16]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_bronze (
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date TEXT,
    order_id UUID PRIMARY KEY,
    ship_date TEXT,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT
);
""")
print("Table sales_bronze created successfully.")

Table sales_bronze created successfully.

In [24]:
df = pd.read_csv('/content/sales_100 (1).csv')  # Replace with the actual file name after upload

In [25]:
import pandas as pd
import uuid

# Load data from CSV
df = pd.read_csv('/content/sales_100 (1).csv')

# Insert data into the Bronze table
for _, row in df.iterrows():
    session.execute("""
        INSERT INTO sales_bronze (region, country, item_type, sales_channel, order_priority, order_date, order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'],
        row['Order Priority'], row['Order Date'], uuid.uuid4(),
        row['Ship Date'], row['UnitsSold'], row['UnitPrice'],
        row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']
    ))
print("Data inserted into sales_bronze.")

Data inserted into sales_bronze.

In [26]:
rows = session.execute("SELECT * FROM sales_bronze LIMIT 10;")
for row in rows:
    print(row)

Row(order_id=UUID('d05750ff-3595-4aeb-a0c6-25bc2f0610d3'), country='Uganda', item_type='Cosmetics', order_date='2/28/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='3/15/2015', total_cost=1588143.25, total_profit=1048610.0, total_revenue=2636753.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=6031)
Row(order_id=UUID('e0620cbf-ae2c-4e26-adec-57b73ea99614'), country='Burundi', item_type='Beverages', order_date='3/9/2011', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(order_id=UUID('f98b5059-660a-4e1d-b38e-95549e6cfd1d'), country='Tanzania', item_type='Cosmetics', order_date='5/23/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='5/24/2016', total_cost=2045547.5, total_profit=1350622.125, total_revenue=3396169.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7768)
Row(order_id=UUID('4775f3c1-2bca-44e2-b6cf-7dd933c79b5c'), country='Taiwan', item_type='Cereal', order_date='4/11/2010', order_priority='H', region='Asia', sales_channel='Online', ship_date='5/26/2010', total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id=UUID('1f8f3d67-25b8-4e41-975d-d3cf6b10d322'), country='Dominica', item_type='Beverages', order_date='6/12/2012', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='7/18/2012', total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(order_id=UUID('36d5403a-ce6c-47dc-b00e-50fa95ca7078'), country='Malawi', item_type='Meat', order_date='3/1/2016', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='3/12/2016', total_cost=1857730.875, total_profit=291376.8125, total_revenue=2149107.75, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5094)
Row(order_id=UUID('fbaeeeba-939d-4684-b472-364bab25c5ce'), country='Rwanda', item_type='Fruits', order_date='9/5/2012', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/15/2012', total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)
Row(order_id=UUID('9633a5b0-a517-4e39-8991-7fa782765f0e'), country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='7/6/2012', total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(order_id=UUID('6870e347-dd7c-44f8-9f54-d39f36c893bb'), country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(order_id=UUID('ab4da8d5-a217-4191-9c00-477ecd0e02c9'), country='Czech Republic', item_type='Cosmetics', order_date='3/22/2014', order_priority='H', region='Europe', sales_channel='Online', ship_date='4/26/2014', total_cost=2411312.75, total_profit=1592127.625, total_revenue=4003440.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9157)

In [45]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/sales_100 (1).csv')  # Replace with the correct path to your file

# Check for missing (null) values
null_values = df.isnull().sum()

# Print the columns with missing values
print(null_values)

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
UnitsSold         0
UnitPrice         0
UnitCost          0
TotalRevenue      0
TotalCost         0
TotalProfit       0
dtype: int64

In [27]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_silver (
    order_id UUID PRIMARY KEY,
    region TEXT,
    country TEXT,
    item_type TEXT,
    total_profit FLOAT
);
""")
print("Table sales_silver created successfully.")

Table sales_silver created successfully.

In [ ]:
rows = session.execute("SELECT order_id, region, country, item_type, total_profit FROM sales_bronze;")
for row in rows:
    session.execute("""
        INSERT INTO sales_silver (order_id, region, country, item_type, total_profit)
        VALUES (%s, %s, %s, %s, %s)
    """, (row.order_id, row.region, row.country, row.item_type, row.total_profit))

print("Data successfully inserted into sales_silver.")

In [28]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_silver (
    order_id UUID PRIMARY KEY,
    region TEXT,
    country TEXT,
    item_type TEXT,
    total_profit FLOAT
);
""")
print("Table sales_silver created successfully.")

Table sales_silver created successfully.

In [29]:
rows = session.execute("SELECT order_id, region, country, item_type, total_profit FROM sales_bronze;")
for row in rows:
    session.execute("""
        INSERT INTO sales_silver (order_id, region, country, item_type, total_profit)
        VALUES (%s, %s, %s, %s, %s)
    """, (row.order_id, row.region, row.country, row.item_type, row.total_profit))

print("Data successfully inserted into sales_silver.")

Data successfully inserted into sales_silver.

In [31]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_by_region (
    region TEXT PRIMARY KEY,
    total_profit FLOAT
);
""")
print("Table sales_by_region created successfully.")

Table sales_by_region created successfully.

In [32]:
import pandas as pd

# Step 1: Load data from sales_bronze
query = "SELECT region, total_profit FROM sales_bronze"
rows = session.execute(query)

# Convert the data into a Pandas DataFrame for easy aggregation
df = pd.DataFrame(rows)

# Step 2: Perform the aggregation in Python
aggregated_data = df.groupby('region', as_index=False).agg({'total_profit': 'sum'})

# Step 3: Insert aggregated data into the sales_by_region table
for index, row in aggregated_data.iterrows():
    session.execute("""
        INSERT INTO sales_by_region (region, total_profit)
        VALUES (%s, %s)
    """, (row['region'], row['total_profit']))

print("Data successfully inserted into sales_by_region.")

Data successfully inserted into sales_by_region.

In [34]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_by_region (
    region TEXT PRIMARY KEY,
    total_profit FLOAT
);
""")
print("Table sales_by_region created successfully.")

Table sales_by_region created successfully.

In [35]:
import pandas as pd

# Step 1: Load data from sales_bronze (assuming you have a 'sales_bronze' table)
query = "SELECT region, total_profit FROM sales_bronze"
rows = session.execute(query)

# Convert to Pandas DataFrame for easy aggregation
df = pd.DataFrame(rows)

# Step 2: Aggregate data by 'region'
aggregated_data = df.groupby('region', as_index=False).agg({'total_profit': 'sum'})

# Step 3: Insert the aggregated data into the sales_by_region table
for index, row in aggregated_data.iterrows():
    session.execute("""
        INSERT INTO sales_by_region (region, total_profit)
        VALUES (%s, %s)
    """, (row['region'], row['total_profit']))

print("Data successfully inserted into sales_by_region.")

Data successfully inserted into sales_by_region.

In [37]:
session.execute("""
CREATE TABLE IF NOT EXISTS sales_by_item_type (
    item_type TEXT PRIMARY KEY,
    total_units_sold INT
);
""")
print("Table sales_by_item_type created successfully.")

Table sales_by_item_type created successfully.

In [38]:
import pandas as pd

# Step 1: Load data from sales_bronze (assuming you have a 'sales_bronze' table)
query = "SELECT item_type, units_sold FROM sales_bronze"
rows = session.execute(query)

# Convert to Pandas DataFrame for easy aggregation
df = pd.DataFrame(rows)

# Step 2: Aggregate data by 'item_type'
aggregated_data = df.groupby('item_type', as_index=False).agg({'units_sold': 'sum'})

# Step 3: Insert the aggregated data into the sales_by_item_type table
for index, row in aggregated_data.iterrows():
    session.execute("""
        INSERT INTO sales_by_item_type (item_type, total_units_sold)
        VALUES (%s, %s)
    """, (row['item_type'], row['units_sold']))

print("Data successfully inserted into sales_by_item_type.")

Data successfully inserted into sales_by_item_type.

In [40]:
session.execute("""
CREATE TABLE IF NOT EXISTS monthly_sales_summary (
    order_date TEXT PRIMARY KEY,
    total_revenue FLOAT
);
""")
print("Table monthly_sales_summary created successfully.")

Table monthly_sales_summary created successfully.

In [41]:
import pandas as pd

# Step 1: Retrieve data from sales_bronze (assuming you have the 'sales_bronze' table)
query = "SELECT order_date, total_revenue FROM sales_bronze"
rows = session.execute(query)

# Convert to Pandas DataFrame for easy aggregation
df = pd.DataFrame(rows)

# Step 2: Aggregate data by 'order_date'
aggregated_data = df.groupby('order_date', as_index=False).agg({'total_revenue': 'sum'})

# Step 3: Insert the aggregated data into the monthly_sales_summary table
for index, row in aggregated_data.iterrows():
    session.execute("""
        INSERT INTO monthly_sales_summary (order_date, total_revenue)
        VALUES (%s, %s)
    """, (row['order_date'], row['total_revenue']))

print("Data successfully inserted into monthly_sales_summary.")

Data successfully inserted into monthly_sales_summary.

In [42]:
# Query Gold tables and print results
tables = ["sales_by_region", "sales_by_item_type", "monthly_sales_summary"]

for table in tables:
    print(f"Data from {table}:")
    rows = session.execute(f"SELECT * FROM {table};")
    for row in rows:
        print(row)

Data from sales_by_region:
Row(region='Australia and Oceania', total_profit=3486940.0)
Row(region='Europe', total_profit=11267281.0)
Row(region='Middle East and North Africa', total_profit=6514262.0)
Row(region='Central America and the Caribbean', total_profit=4252300.0)
Row(region='Asia', total_profit=6749896.0)
Row(region='Sub-Saharan Africa', total_profit=7651892.0)
Row(region='North America', total_profit=1404621.5)
Data from sales_by_item_type:
Row(item_type='Household', total_units_sold=57640)
Row(item_type='Office Supplies', total_units_sold=42814)
Row(item_type='Vegetables', total_units_sold=7368)
Row(item_type='Snacks', total_units_sold=14377)
Row(item_type='Personal Care', total_units_sold=39045)
Row(item_type='Meat', total_units_sold=50437)
Row(item_type='Fruits', total_units_sold=65920)
Row(item_type='Beverages', total_units_sold=45206)
Row(item_type='Cereal', total_units_sold=45776)
Row(item_type='Cosmetics', total_units_sold=65707)
Row(item_type='Baby Food', total_units_sold=20372)
Row(item_type='Clothes', total_units_sold=40148)
Data from monthly_sales_summary:
Row(order_date='7/1/2012', total_revenue=1071140.0)
Row(order_date='9/5/2012', total_revenue=56530.46875)
Row(order_date='2/4/2015', total_revenue=1856737.875)
Row(order_date='1/27/2013', total_revenue=34856.87890625)
Row(order_date='10/11/2012', total_revenue=274640.59375)
Row(order_date='11/7/2011', total_revenue=12866.0703125)
Row(order_date='5/17/2017', total_revenue=61415.359375)
Row(order_date='1/19/2011', total_revenue=746767.0)
Row(order_date='1/15/2016', total_revenue=5445064.0)
Row(order_date='4/11/2010', total_revenue=1932962.875)
Row(order_date='11/19/2011', total_revenue=4707294.0)
Row(order_date='9/8/2015', total_revenue=2101183.25)
Row(order_date='7/29/2014', total_revenue=3672173.25)
Row(order_date='5/11/2016', total_revenue=1411953.625)
Row(order_date='6/20/2014', total_revenue=1168581.75)
Row(order_date='12/5/2016', total_revenue=3780403.5)
Row(order_date='10/17/2016', total_revenue=339860.8125)
Row(order_date='11/11/2015', total_revenue=301612.8125)
Row(order_date='10/22/2012', total_revenue=760579.375)
Row(order_date='11/13/2014', total_revenue=434357.3125)
Row(order_date='11/1/2011', total_revenue=231050.703125)
Row(order_date='2/21/2014', total_revenue=4006267.5)
Row(order_date='3/23/2017', total_revenue=583484.1875)
Row(order_date='10/20/2014', total_revenue=89558.671875)
Row(order_date='11/2/2011', total_revenue=419198.09375)
Row(order_date='12/7/2015', total_revenue=2570673.75)
Row(order_date='3/16/2016', total_revenue=3012716.5)
Row(order_date='9/28/2011', total_revenue=416332.21875)
Row(order_date='2/10/2016', total_revenue=3771157.0)
Row(order_date='5/23/2016', total_revenue=3396169.5)
Row(order_date='8/19/2010', total_revenue=2884921.5)
Row(order_date='3/1/2016', total_revenue=2149107.75)
Row(order_date='6/14/2015', total_revenue=288752.09375)
Row(order_date='11/30/2016', total_revenue=70036.203125)
Row(order_date='1/18/2013', total_revenue=28327.650390625)
Row(order_date='3/29/2011', total_revenue=1896974.75)
Row(order_date='4/13/2015', total_revenue=1027580.1875)
Row(order_date='5/9/2011', total_revenue=3263260.75)
Row(order_date='11/29/2010', total_revenue=3470056.5)
Row(order_date='7/7/2011', total_revenue=289426.40625)
Row(order_date='6/23/2012', total_revenue=6253569.5)
Row(order_date='10/9/2012', total_revenue=107533.8828125)
Row(order_date='6/18/2010', total_revenue=44224.19921875)
Row(order_date='3/8/2017', total_revenue=3699975.25)
Row(order_date='10/28/2015', total_revenue=5206491.5)
Row(order_date='4/4/2010', total_revenue=652532.3125)
Row(order_date='9/4/2016', total_revenue=231345.765625)
Row(order_date='6/12/2012', total_revenue=298982.4375)
Row(order_date='11/15/2011', total_revenue=1456356.0)
Row(order_date='7/6/2016', total_revenue=802989.4375)
Row(order_date='2/6/2016', total_revenue=126109.390625)
Row(order_date='2/19/2012', total_revenue=217368.453125)
Row(order_date='4/30/2017', total_revenue=2196359.25)
Row(order_date='9/30/2012', total_revenue=14508.150390625)
Row(order_date='5/15/2015', total_revenue=151880.40625)
Row(order_date='9/1/2011', total_revenue=6666661.5)
Row(order_date='10/2/2011', total_revenue=4100669.25)
Row(order_date='1/28/2013', total_revenue=1171204.125)
Row(order_date='9/14/2013', total_revenue=503890.09375)
Row(order_date='6/20/2011', total_revenue=993573.75)
Row(order_date='2/18/2011', total_revenue=4227287.0)
Row(order_date='11/17/2012', total_revenue=603225.625)
Row(order_date='8/25/2011', total_revenue=69946.71875)
Row(order_date='11/20/2011', total_revenue=81161.671875)
Row(order_date='1/21/2016', total_revenue=348496.71875)
Row(order_date='6/6/2015', total_revenue=337990.71875)
Row(order_date='6/13/2011', total_revenue=979683.8125)
Row(order_date='2/9/2014', total_revenue=74957.21875)
Row(order_date='7/16/2014', total_revenue=5608790.0)
Row(order_date='12/31/2010', total_revenue=1336282.875)
Row(order_date='11/3/2013', total_revenue=53507.55078125)
Row(order_date='3/28/2011', total_revenue=6266594.0)
Row(order_date='10/26/2016', total_revenue=188518.84375)
Row(order_date='9/8/2013', total_revenue=429730.1875)
Row(order_date='10/10/2012', total_revenue=816150.4375)
Row(order_date='3/22/2014', total_revenue=4003440.5)
Row(order_date='6/19/2014', total_revenue=36860.23046875)
Row(order_date='9/13/2012', total_revenue=117913.25)
Row(order_date='7/19/2012', total_revenue=2014159.25)
Row(order_date='12/12/2015', total_revenue=33410.73046875)
Row(order_date='12/17/2010', total_revenue=2823440.75)
Row(order_date='3/9/2011', total_revenue=167640.84375)
Row(order_date='4/16/2015', total_revenue=1509220.875)
Row(order_date='2/28/2015', total_revenue=2636753.25)
Row(order_date='11/30/2015', total_revenue=643018.1875)
Row(order_date='11/11/2016', total_revenue=738014.5)
Row(order_date='5/1/2015', total_revenue=453813.59375)
Row(order_date='7/27/2012', total_revenue=14862.6904296875)
Row(order_date='5/29/2016', total_revenue=136140.640625)
Row(order_date='11/19/2016', total_revenue=92245.7109375)
Row(order_date='8/22/2015', total_revenue=1784241.75)
Row(order_date='10/2/2010', total_revenue=628499.375)
Row(order_date='10/7/2012', total_revenue=1297172.375)
Row(order_date='8/9/2016', total_revenue=130261.7578125)
Row(order_date='12/28/2013', total_revenue=4205821.5)
Row(order_date='5/28/2013', total_revenue=868465.375)

In [44]:
import pandas as pd

# Load the data
df = pd.read_csv('/content/sales_100 (1).csv')

# Convert the 'Order Date' and 'Ship Date' columns to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce', dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce', dayfirst=True)

# Check the cleaned data
print(df[['Order Date', 'Ship Date']].head())

  Order Date  Ship Date
0 2012-07-27 2012-07-28
1 2013-09-14 2013-10-19
2 2015-05-15 2015-06-04
3 2017-05-17 2017-07-02
4 2016-10-26 2016-12-04

<ipython-input-44-7b0f39de87eb>:7: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce', dayfirst=True)
<ipython-input-44-7b0f39de87eb>:8: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce', dayfirst=True)

In [48]:
# Query for Bronze table
bronze_query = "SELECT * FROM sales_bronze;"
bronze_data = session.execute(bronze_query)

print("------ Bronze Table Data ------")
for row in bronze_data:
    print(row)

# Query for Silver table
silver_query = "SELECT * FROM sales_silver;"
silver_data = session.execute(silver_query)

print("\n------ Silver Table Data ------")
for row in silver_data:
    print(row)

------ Bronze Table Data ------
Row(order_id=UUID('d05750ff-3595-4aeb-a0c6-25bc2f0610d3'), country='Uganda', item_type='Cosmetics', order_date='2/28/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='3/15/2015', total_cost=1588143.25, total_profit=1048610.0, total_revenue=2636753.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=6031)
Row(order_id=UUID('e0620cbf-ae2c-4e26-adec-57b73ea99614'), country='Burundi', item_type='Beverages', order_date='3/9/2011', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(order_id=UUID('f98b5059-660a-4e1d-b38e-95549e6cfd1d'), country='Tanzania', item_type='Cosmetics', order_date='5/23/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='5/24/2016', total_cost=2045547.5, total_profit=1350622.125, total_revenue=3396169.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7768)
Row(order_id=UUID('4775f3c1-2bca-44e2-b6cf-7dd933c79b5c'), country='Taiwan', item_type='Cereal', order_date='4/11/2010', order_priority='H', region='Asia', sales_channel='Online', ship_date='5/26/2010', total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id=UUID('1f8f3d67-25b8-4e41-975d-d3cf6b10d322'), country='Dominica', item_type='Beverages', order_date='6/12/2012', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='7/18/2012', total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(order_id=UUID('36d5403a-ce6c-47dc-b00e-50fa95ca7078'), country='Malawi', item_type='Meat', order_date='3/1/2016', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='3/12/2016', total_cost=1857730.875, total_profit=291376.8125, total_revenue=2149107.75, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5094)
Row(order_id=UUID('fbaeeeba-939d-4684-b472-364bab25c5ce'), country='Rwanda', item_type='Fruits', order_date='9/5/2012', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/15/2012', total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)
Row(order_id=UUID('9633a5b0-a517-4e39-8991-7fa782765f0e'), country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='7/6/2012', total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(order_id=UUID('6870e347-dd7c-44f8-9f54-d39f36c893bb'), country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(order_id=UUID('ab4da8d5-a217-4191-9c00-477ecd0e02c9'), country='Czech Republic', item_type='Cosmetics', order_date='3/22/2014', order_priority='H', region='Europe', sales_channel='Online', ship_date='4/26/2014', total_cost=2411312.75, total_profit=1592127.625, total_revenue=4003440.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9157)
Row(order_id=UUID('9f4469a1-a85d-4122-bd73-6e0ee273a970'), country='Ghana', item_type='Clothes', order_date='11/2/2011', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='12/1/2011', total_cost=137482.234375, total_profit=281715.84375, total_revenue=419198.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3836)
Row(order_id=UUID('614baa76-66b2-416c-bda9-2eb396711b2d'), country='The Bahamas', item_type='Fruits', order_date='6/18/2010', order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date='6/30/2010', total_cost=32800.80078125, total_profit=11423.400390625, total_revenue=44224.19921875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(order_id=UUID('d6cabcab-9ac9-4243-9cc0-af677f1f62a8'), country='Romania', item_type='Cereal', order_date='4/16/2015', order_priority='M', region='Europe', sales_channel='Online', ship_date='4/18/2015', total_cost=859236.0625, total_profit=649984.8125, total_revenue=1509220.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(order_id=UUID('4f27f1ee-817f-49cf-9f9f-5d6f5d746c53'), country='Taiwan', item_type='Fruits', order_date='2/9/2014', order_priority='M', region='Asia', sales_channel='Offline', ship_date='2/23/2014', total_cost=55595.28125, total_profit=19361.939453125, total_revenue=74957.21875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8034)
Row(order_id=UUID('faa7f9fd-60fc-4c7c-83c3-671caff7d244'), country='United States of America', item_type='Personal Care', order_date='1/21/2016', order_priority='H', region='North America', sales_channel='Online', ship_date='2/19/2016', total_cost=241640.875, total_profit=106855.84375, total_revenue=348496.71875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=4264)
Row(order_id=UUID('fb641f51-dde0-40ce-88bc-52a87a66ebbd'), country='The Bahamas', item_type='Personal Care', order_date='1/19/2011', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='2/21/2011', total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(order_id=UUID('5d17e17a-1838-4543-91c0-eefe541191ee'), country='Serbia', item_type='Clothes', order_date='7/6/2016', order_priority='L', region='Europe', sales_channel='Offline', ship_date='7/13/2016', total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(order_id=UUID('1b9fec03-5ec4-48a6-b0b2-b5faa5ab556c'), country='Togo', item_type='Cosmetics', order_date='9/8/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/9/2015', total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(order_id=UUID('d28cafc0-7c2f-449a-bff1-6fdf52dd1009'), country='Morocco', item_type='Clothes', order_date='9/14/2013', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='10/19/2013', total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(order_id=UUID('d14b13b5-d2e0-4c94-b0df-bd4f428c8d30'), country='Samoa ', item_type='Household', order_date='12/5/2016', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='12/8/2016', total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(order_id=UUID('df6de05d-1fd8-496c-8a55-aba1b8b4e96e'), country='Vanuatu', item_type='Fruits', order_date='11/3/2013', order_priority='C', region='Australia and Oceania', sales_channel='Online', ship_date='11/11/2013', total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(order_id=UUID('2493b538-52d9-407f-8627-d342e963d588'), country='Madagascar', item_type='Clothes', order_date='10/17/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='10/26/2016', total_cost=111462.3984375, total_profit=228398.40625, total_revenue=339860.8125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3110)
Row(order_id=UUID('469218c0-badb-4864-bb6f-a08ad28c05ca'), country='Italy', item_type='Office Supplies', order_date='3/29/2011', order_priority='H', region='Europe', sales_channel='Online', ship_date='4/11/2011', total_cost=1529208.5, total_profit=367766.25, total_revenue=1896974.75, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2913)
Row(order_id=UUID('01a665ec-47d2-4deb-b850-f145ee9d070c'), country='Seychelles ', item_type='Beverages', order_date='1/18/2013', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='2/16/2013', total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(order_id=UUID('8fb46d27-e582-4bc0-ba9a-5472a7d699aa'), country='South Africa', item_type='Fruits', order_date='7/27/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/28/2012', total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(order_id=UUID('01d7eb41-a020-49c4-bc12-baa71d54ae1b'), country='Liberia', item_type='Baby Food', order_date='6/6/2015', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/12/2015', total_cost=211072.078125, total_profit=126918.640625, total_revenue=337990.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=1324)
Row(order_id=UUID('15d6a71a-64a8-4bd9-8e24-37681cb01cfc'), country='Nepal', item_type='Meat', order_date='2/21/2014', order_priority='H', region='Asia', sales_channel='Online', ship_date='3/14/2014', total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(order_id=UUID('644a1453-40e8-4c97-b380-b8fa5af96ef6'), country='India', item_type='Snacks', order_date='10/10/2012', order_priority='L', region='Asia', sales_channel='Online', ship_date='11/20/2012', total_cost=521206.5625, total_profit=294943.875, total_revenue=816150.4375, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=5349)
Row(order_id=UUID('44883711-f31b-4cd4-b5aa-05eb6e8663aa'), country='New Zealand', item_type='Beverages', order_date='10/11/2012', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='11/4/2012', total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(order_id=UUID('b17552ba-4894-4eb5-a2ee-7dbc1ebfde6b'), country='Belize', item_type='Personal Care', order_date='6/14/2015', order_priority='H', region='Central America and the Caribbean', sales_channel='Online', ship_date='8/2/2015', total_cost=200215.109375, total_profit=88536.9765625, total_revenue=288752.09375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=3533)
Row(order_id=UUID('bbf658bd-eddf-4181-93da-87dec3d42100'), country='Mauritius ', item_type='Clothes', order_date='11/17/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='12/2/2012', total_cost=197836.796875, total_profit=405388.8125, total_revenue=603225.625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=5520)
Row(order_id=UUID('762d37b7-260d-4781-98ad-1cc5310d3dce'), country='East Timor', item_type='Cereal', order_date='12/7/2015', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='12/30/2015', total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(order_id=UUID('fbadb007-d9f0-459d-9c58-3a84f7f934f4'), country='Egypt', item_type='Clothes', order_date='8/9/2016', order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date='8/24/2016', total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(order_id=UUID('b004d962-ead0-4853-9eea-10fc7c807b46'), country='The Gambia', item_type='Fruits', order_date='11/20/2011', order_priority='C', region='Sub-Saharan Africa', sales_channel='Online', ship_date='11/22/2011', total_cost=60197.078125, total_profit=20964.58984375, total_revenue=81161.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8699)
Row(order_id=UUID('de7d776b-fd53-4089-8ee7-dc66f3120569'), country='Democratic Republic of the Congo', item_type='Cosmetics', order_date='10/7/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='10/25/2012', total_cost=781300.125, total_profit=515872.28125, total_revenue=1297172.375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2967)
Row(order_id=UUID('4c37e162-dda8-421e-94ee-e85cec8f0fd0'), country='Turkmenistan', item_type='Vegetables', order_date='4/13/2015', order_priority='M', region='Asia', sales_channel='Online', ship_date='6/2/2015', total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(order_id=UUID('8afc3163-cdd5-4c94-979f-aacfdb637b7c'), country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', order_priority='C', region='Europe', sales_channel='Offline', ship_date='8/27/2014', total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(order_id=UUID('fcbd6c4b-fe1d-49d6-b488-503a8919a304'), country='Italy', item_type='Cereal', order_date='11/30/2015', order_priority='C', region='Europe', sales_channel='Online', ship_date='12/5/2015', total_cost=366085.875, total_profit=276932.34375, total_revenue=643018.1875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(order_id=UUID('776ac611-24cb-472e-9b7f-61864e7b6e06'), country='Sweden', item_type='Beverages', order_date='9/13/2012', order_priority='H', region='Europe', sales_channel='Online', ship_date='10/12/2012', total_cost=78998.1484375, total_profit=38915.1015625, total_revenue=117913.25, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2485)
Row(order_id=UUID('a8b9d348-98c7-4c31-af21-4360b3963408'), country='Finland', item_type='Household', order_date='1/15/2016', order_priority='H', region='Europe', sales_channel='Offline', ship_date='1/31/2016', total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(order_id=UUID('32412c53-cac5-4de6-8086-1a9e40117db0'), country='Kazakhstan', item_type='Snacks', order_date='9/8/2013', order_priority='L', region='Asia', sales_channel='Online', ship_date='10/25/2013', total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(order_id=UUID('2db17f80-fe2f-42b0-a52e-d1307ace54f7'), country='Vietnam', item_type='Personal Care', order_date='4/4/2010', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/6/2010', total_cost=452453.28125, total_profit=200079.046875, total_revenue=652532.3125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=7984)
Row(order_id=UUID('dc351d7c-4f85-43d0-b687-bb355d8905ff'), country='Montenegro', item_type='Clothes', order_date='9/4/2016', order_priority='M', region='Europe', sales_channel='Offline', ship_date='9/8/2016', total_cost=75873.28125, total_profit=155472.484375, total_revenue=231345.765625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(order_id=UUID('aa9fbc13-100e-4fa9-ba72-87ba6bd2839a'), country='Slovakia', item_type='Beverages', order_date='10/26/2016', order_priority='L', region='Europe', sales_channel='Offline', ship_date='12/4/2016', total_cost=126301.671875, total_profit=62217.1796875, total_revenue=188518.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3973)
Row(order_id=UUID('746d0194-6cb3-4736-b522-bfc9d52b3b5e'), country='Ghana', item_type='Office Supplies', order_date='3/23/2017', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/15/2017', total_cost=470364.15625, total_profit=113120.0, total_revenue=583484.1875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=896)
Row(order_id=UUID('531907c9-5c64-4ac4-84c8-c581ca8eab50'), country='Israel', item_type='Beverages', order_date='9/8/2013', order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date='10/13/2013', total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(order_id=UUID('bd64902f-a248-4cbc-897d-af7bb54c49d5'), country='Canada', item_type='Cosmetics', order_date='5/9/2011', order_priority='H', region='North America', sales_channel='Online', ship_date='6/2/2011', total_cost=1965495.125, total_profit=1297765.625, total_revenue=3263260.75, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7464)
Row(order_id=UUID('9fadbf89-4d9e-4c35-bd52-06bfec075563'), country='United Kingdom', item_type='Cosmetics', order_date='5/1/2015', order_priority='L', region='Europe', sales_channel='Online', ship_date='5/16/2015', total_cost=273336.53125, total_profit=180477.0625, total_revenue=453813.59375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=1038)
Row(order_id=UUID('f3f933f2-94b3-4e40-92c8-270c0ed22427'), country='Estonia', item_type='Household', order_date='9/1/2011', order_priority='H', region='Europe', sales_channel='Offline', ship_date='10/21/2011', total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(order_id=UUID('d3285e3e-ddc7-49a9-b889-51eb234ac36a'), country='Vanuatu', item_type='Cereal', order_date='6/20/2014', order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date='8/5/2014', total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(order_id=UUID('9a4665df-2482-4500-bd08-706c8844c537'), country='Oman', item_type='Cosmetics', order_date='11/29/2010', order_priority='H', region='Middle East and North Africa', sales_channel='Online', ship_date='12/28/2010', total_cost=2090050.25, total_profit=1380006.25, total_revenue=3470056.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7937)
Row(order_id=UUID('31606d98-3e14-4f8c-b7a3-a1e9416b74ca'), country='Djibouti', item_type='Clothes', order_date='5/17/2017', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/2/2017', total_cost=20142.080078125, total_profit=41273.28125, total_revenue=61415.359375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=562)
Row(order_id=UUID('c3740e63-9288-48e8-aca2-e191ce283edc'), country='Finland', item_type='Vegetables', order_date='10/9/2012', order_priority='C', region='Europe', sales_channel='Offline', ship_date='11/27/2012', total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)

# New Section